.footer-wrap{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 74px 0 70px;
    box-sizing: border-box;
    text-align: right;
    background: #3FA9F5;
}
.footer{
    max-width: 1600px;
}