
.header-wrap{
    width: 100%;
    margin: 0 auto;
  }
  .header{
    width: 100%;
    height: 170px;
    background: rgba(0, 0, 0, .2);
  }
  .top-menu{
    margin: 0 auto;
    width: 80%;
    height: 100px;
    background: blue;
    display: flex;
  }
  .left-wrap{
    width: 20%;
    height: 100%;
    background: yellow;
  }
  .center-wrap{
    width: 60%;
    height: 100%;
    background: yellowgreen;
  }
  .right-wrap{
    width: 20%;
    height: 100%;
    background: beige;
  }
  
  .bottom-menu{
    margin: 0 auto;
    width: 80%;
    height: 70px;
    background: green;
  }