
.header-wrap{
    min-width: 1100px;
    width: 100%;
    width: 100%;
    position: fixed;
    /* background-color: rgba(255, 255, 255, 0.97); */
    background: #fff;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    /* transition: top 1s ease-in-out; */
    transition: transform 0.5s ease;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
  }
  .header-wrap.hidden {
    transform: translateY(-100%);
  }

  .header{
    /* max-width: 1600px; */
    max-width: 1920px;
    margin: 0 auto;
    text-align: center;
  }
  .menu{
    margin: 0 auto;
    width: 100%;
    height: 80px;
    display: flex;
  }
  .left-wrap{
    /* width: 20%; */
    height: 100%;
    margin-right: 215px;
    /* background: yellow; */
  }
  .flex-wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .center-wrap{
    width: 75%;
    height: 100%;
  }
  .center-wrap ul{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .center-wrap > ul > li{
    width: 120px;
    height: 100%;
    display: inline-block;
  }
  .center-wrap ul a{
    text-decoration: none;
    color: #333;
    font-size: 17px;
    font-weight: bold;
  }
  .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
    width: 100%;
    height: 0;
    background-color: #3FA9F5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: height 0.5s ease;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
  }
  
  .submenu > li {
    list-style: none;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 190px;
    height: 367px;
    /* padding: 28px 0 0; */
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .submenu li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 5px 0;
  }
  .submenu.active {
    /* height: 367px; */
    height: 270px;
  }
  .right-wrap{
    width: 25%;
    height: 100%;
    position: relative;
  }
  .right-wrap >.shape{
    position: absolute;
    top: 20px;
    left: 190px;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background: #3FA9F5;
  }
  .right-wrap >.shape > p{
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    line-height: 40px;
    margin: 0;
  }