.home-wrap{
    /* max-width: 1920px; */
    margin: 0 auto;
}
.top-home-box{}
.home-img-wrap{
    background-image: url('../assets/Service-img/service-top-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: calc(100vw - (100vw - 100%));
    /* height: 1000px; */
    height: 100vh;
    position: relative;
    animation: fadeIn 4s forwards;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.home-img-text{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}
.home-img-text h2{
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    font-weight: normal;
    font-size: 60px;
    pointer-events: none;
    transition: .3s;
    text-align: center;
    opacity: 0; /* 처음에 투명하게 설정 */
    transform: translateY(50px); /* 아래쪽으로 이동 */
    animation: fadeInUp 3s forwards; /* 애니메이션 적용 */
}
@keyframes fadeInUp {
    to {
      opacity: 1; /* 점점 불투명하게 설정 */
      transform: translateY(0); /* 원래 위치로 돌아오기 */
    }
  }
/* .home-img-text h3{
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: normal;
    font-size: 60px;
    pointer-events: none;
    transition: .3s;
    text-align: center;
    box-shadow: inset 0 -28px 0 #3fa9f5;
} */
.home-img-text h2 > u{
    text-decoration: none;
    font-size: 65px;
    font-weight: bold;
    box-shadow: inset 0 -28px 0 #3fa9f5;
}
.scroll-down-wrap{
    position: absolute;
    left: 50%;
    bottom: 6%;
    transform: translateX(-50%);
}
.scroll-down{
    width: 40px;
    height: 70px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    border: 4px solid #fff;
}
.scroll-down span{
    width: 5px;
    height: 5px;
    margin-bottom: 10px;
    border-radius: 50%;
    background: #fff;
}
.scroll-down span:last-child{
    margin-bottom: 0;
}
.scroll-down span:nth-child(1){animation: blink 0.9s infinite;}
.scroll-down span:nth-child(2){animation: blink 0.9s infinite; animation-delay: .3s;}
.scroll-down span:nth-child(3){animation: blink 0.9s infinite; animation-delay: .6s;}
.scroll-text{
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    animation: bounce 1s infinite;
}
@keyframes blink {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
}
@keyframes bounce {
    0%, 100% {
        transform: translate(-50%, 0) translateY(0);
      }
      50% {
        transform: translate(-50%, -3px) translateY(0);
      }
  }
.contents-wrap{
    width: 1120px;
    margin: 0 auto;
    margin-top: 120px;
}
.contents-wrap > img{
    /* width: 717px;
    height: 88px; */
    width: 60%;
}
.contents-wrap > h2{
    margin-top: 24px;
    font-size: 32px;
    color: #4e4e4e;
}
.contents-wrap > p{
    margin-top: 20px;
    font-size: 16px;
    color: #767676;
}
.contents-wrap > .content-tag{
    width: 100%;
}
.contents-wrap > .content-tag > ul{
    list-style: none;
    display: flex;
    justify-content: end;
}
.contents-wrap > .content-tag > ul > li{
    background: #3FA9F5;
    margin-right: 8px;
    width: 102px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 39px;
    font-size: 16px;
    color: #fff;
}
.contents-wrap > .content-tag > ul > li:last-child{
    margin: 0;
}
.contents-wrap > .service-wrap div {
    overflow: hidden;
}
.contents-wrap > .service-wrap img{
    transition: .7s;
    filter: brightness(80%);
}
.contents-wrap > .service-wrap img:hover{
    transform: scale(1.05);
    filter: brightness(50%);
}
.service-wrap{
    margin-top: 92px;
    /* height: 428px; */
}
.service-wrap .service-img-wrap{
    display: flex;
    justify-content: space-between;
}
.service-wrap .service-img-wrap .large-img-wrap{
    position: relative;
    width: 356px;
    height: 433px;
    overflow: hidden;
    border-radius: 62px;
}
.service-wrap .service-img-wrap .large-img-wrap > img{
    width: 356px;
    height: 433px;
}
.service-wrap .service-img-wrap .large-img-wrap > h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    margin: 0;
    padding: 0;
    pointer-events: none;
    font-size: 24px;
}
.service-wrap .service-img-wrap .text-ani > h3::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background-color: #3FA9F5;
    transition: width 0.5s ease;
}
.service-wrap .service-img-wrap .text-ani:hover > h3::after{
    width: 100%;
}
.service-wrap .service-img-wrap .column-wrap{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.service-wrap .service-img-wrap .column-wrap .small-img-wrap{
    position: relative;
    width: 365px;
    height: 205px;
    overflow: hidden;
    border-radius: 62px;
}
.service-wrap .service-img-wrap .column-wrap .small-img-wrap.mt18{
    margin-top: 18px;
}
.service-wrap .service-img-wrap .column-wrap .small-img-wrap > img{
    width: 100%;
}
.service-wrap .service-img-wrap .column-wrap .small-img-wrap > h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    margin: 0;
    padding: 0;
    pointer-events: none;
    font-size: 24px;
}
.divider{
    width: 1280px;
    height: 2px;
    /* background: #4e4e4e; */
    background: #999;
    text-align: center;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 120px;
}
.bottom-content-wrap > h2{
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #232323;
}
.bottom-content-wrap > p{
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;
    color: #767676;
    margin-top: 20px;
    /* margin-bottom: 170px; */
}
@media screen and (max-width: 1300px) {
    .home-wrap{
        padding-top: 0;
    }
    /* .home-wrap > .container{
        padding-top: 0;
    } */
    .home-img-wrap{
        width: 100vw;
    }
    .home-img-wrap > h2{
        font-size: 40px;
        margin-left: 40px;
    }
    .home-img-wrap > h2 > u{
        font-size: 45px;
    }
    .divider{
        width: auto;
        margin-top: 90px;
        margin-bottom: 90px;
    }
}
@media screen and (max-width: 1200px) {
    .contents-wrap{
        margin-top: 60px;
        width: auto;
        text-align: center;
    }
    .contents-wrap > p{
        margin-bottom: 40px;
    }
    .contents-wrap > .content-tag > ul{
        justify-content: center;
        padding: 0;
    }
}
@media screen and (max-width: 1100px) {
    .service-wrap .service-img-wrap{
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .contents-wrap > .service-wrap img{
        transform: scale(1.4);
        filter: brightness(80%);
    }
    .service-wrap .service-img-wrap .large-img-wrap{
        border-radius: 0;
        width: 100vw;
    }
    .service-wrap .service-img-wrap .large-img-wrap > img{
        width: 76%;
        height: auto;
    }
    .service-wrap .service-img-wrap .large-img-wrap.number1{
        order: 1;
    }
    .service-wrap .service-img-wrap .large-img-wrap.number2{
        order: 2;
    }
    .service-wrap .service-img-wrap .column-wrap .small-img-wrap{
        border-radius: 0;
        width: 100vw;
        height: auto;
    }
    .service-wrap .service-img-wrap .column-wrap .small-img-wrap.mt18{
        margin-top: 0;
    }
    .service-wrap .service-img-wrap .column-wrap .small-img-wrap.number1{
        order: 1;
    }
    .service-wrap .service-img-wrap .column-wrap .small-img-wrap.number2{
        order: 2;
    }
    .service-wrap .service-img-wrap .column-wrap .small-img-wrap > img {
        border-radius: 0;
        width: 76%;
    }
    .contents-wrap > .service-wrap img:hover {
        transform: scale(1.4);
        filter: brightness(80%);
    }
    .service-wrap .service-img-wrap .text-ani > h3::after{
        width: 100%;
    }
}
@media screen and (max-width: 1000px) {
    .contents-wrap > h2{
        margin: 24px 24px;
        font-size: 24px;
    }
    .contents-wrap > p{
        font-size: 13px;
    }
    .contents-wrap > .content-tag > ul{
        justify-content: center;
    }
}
@media screen and (max-width: 700px) {
    .home-img-wrap{
        justify-content: center;
    }
    .home-img-wrap > h2{
        font-size: 30px;
        text-align: center;
        margin: 0;
    }
    .home-img-wrap > h2 > u{
        font-size: 35px;
    }
}
@media screen and (max-width: 680px) {
    .contents-wrap > h2{
        margin: 24px 24px;
        font-size: 19px;
    }
    .bottom-content-wrap{
        padding-left: 20px;
        padding-right: 20px;
    }
    .bottom-content-wrap > h2{
        font-size: 25px;
    }
    .bottom-content-wrap > p{
        font-size: 14px;
        margin-bottom: 100px;
    }
}
@media screen and (max-width: 500px) {
    .home-img-wrap > h2{
        text-align: center;
        font-size: 25px;
    }
    .home-img-wrap > h2 > u{
        font-size: 30px;
    }
}
