.home-wrap{
    
    /* height: 2000px; */
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 80px;
}
.home-wrap > .container{
    width: 1280px;
    /* background: rgba(0, 0, 0, 0.2); */
    margin: 0 auto;
    padding-top: 100px;
}
.home-img-wrap{
    position: relative;
}
.home-img-wrap img{
    width: 1280px;
}
.home-img-wrap > h2{
    font-family: 'Noto Sans KR', sans-serif;
    position: absolute;
    top: 56px;
    left: 70px;
    color: #fff;
    font-weight: normal;
    font-size: 60px;
}
.home-img-wrap > h2 > u{
    text-decoration: none;
    font-weight: bold;
}
.contents-wrap{
    width: 1120px;
    margin: 0 auto;
    margin-top: 120px;
}
.contents-wrap > img{
    width: 717px;
    height: 88px;
}
.contents-wrap > h2{
    margin-top: 24px;
    font-size: 32px;
    color: #4e4e4e;
}
.contents-wrap > p{
    margin-top: 20px;
    font-size: 16px;
    color: #767676;
}
.contents-wrap > .content-tag{
    width: 100%;
}
.contents-wrap > .content-tag > ul{
    list-style: none;
    display: flex;
    justify-content: end;
}
.contents-wrap > .content-tag > ul > li{
    background: #3FA9F5;
    margin-right: 8px;
    width: 102px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 39px;
    font-size: 16px;
    color: #fff;
}
.contents-wrap > .content-tag > ul > li:last-child{
    margin: 0;
}
.contents-wrap > .service-wrap div {
    overflow: hidden;
}
.contents-wrap > .service-wrap img{
    transition: .7s;
    filter: brightness(80%);
}
.contents-wrap > .service-wrap img:hover{
    transform: scale(1.05);
}
.contents-wrap > .service-wrap h3:hover{
    transform: scale(1.05);
}