h1,h2,h3,p{
    margin: 0;
}
.service-wrap{
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 80px;
    padding-top: 73px;
    height: 3000px;
}
.service-top-img-wrap{
    position: relative;
    background-image: url('../assets//Service-img/service-top-img.png');
    background-size: cover;
    background-position: center;
    width: 1920px;
    height: 882px;
}
.service-top-contents{
    display: flex;
    position: absolute;
    top: 178px;
    left: 331px;
    align-items: center;
}
.service-content-left{}
.left-content-column{
    display: flex;
    flex-direction: column;
}
.left-content-column > h2{
    font-size: 70px;
    color: #fff;
}
.left-content-column > p{
    font-size: 19px;
    color: #dbdbdb;
    margin-top: 10px;
}
.service-content-center{
    width: 179px;
    height: 5px;
    background: #fff;
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 48px;
}
/* .service-content-right{} */
.service-content-right  h3{
    font-size: 32px;
    color: #dbdbdb;
}

.service-center-contents{
    margin-top: 220px;
}
.service-center-top img{
    width: 502px;
    height: 101px;
}